<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
    <h5 class="my-0 mr-md-auto font-weight-normal">Gigs</h5>
    {{#if user}}

        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Bienvenido {{user.name}}
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="/users/{{ user._id }}/manage_orders">Ordenes</a>
            <a class="dropdown-item" href="/gigs">Mis Gigs<i></a>
            <a class="dropdown-item" href="/profile">Perfil</a>
            <a class="dropdown-item" href="/add-new-gig">Agregar un nuevo servicio</a>
            <a class="dropdown-item" href="/logout">Cerrar Session<i></a>
          </div>
        </div>
        {{else }}

        <nav class="my-2 my-md-0 mr-md-3">
          <a class="p-2 text-dark" href="/signup">Ofrecer mis servicios</a>
        </nav>
        <a class="btn btn-outline-primary" href="/login">Ingresar</a>
         {{/if}}
</div>