<!DOCTYPE html>
<html>
	<head>
		<title>Pefil</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="../css/stylesPerfil.css">
		<link rel="stylesheet" type="text/css" href="../css/iconmoon/style.css">
	</head>
	<body>
		<div class="container">
			<div class="row main-row">
				<div class="container main-container">
					<div class="row">
						<aside class="col-md-3">
							<div class="mov-con">
								<div class="row">
									<div id="carouselExampleControls" class="carousel slide car-main-pr" data-ride="carousel">
										<div class="carousel-inner">
											<div class="carousel-item active car-prol">
												<img class="d-block w-100" src="../imgs/tom.jpg" alt="First slide">
											</div>
											<div class="carousel-item car-prol">
												<img class="d-block w-100 " src="../imgs/tom2.jpg" alt="Second slide">
											</div>
											<div class="carousel-item car-prol">
												<img class="d-block w-100 " src="../imgs/user-post3.jpg" alt="Third slide">
											</div>
										</div>
										<a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
											<span class="carousel-control-prev-icon" aria-hidden="true"></span>
											<span class="sr-only">Previous</span>
										</a>
										<a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
											<span class="carousel-control-next-icon" aria-hidden="true"></span>
											<span class="sr-only">Next</span>
										</a>
									</div>
								</div>
								<div class="">
									<div class="row mt-3">
										<div class="col-md-12">
											<h2 class="tt-list">Informacion</h2>
											<ul class="info-prol-list">
												<li class="row"><div class="col-9">Identificacion</div><div class="col-3 m-auto"><span class="icon-checkmark-outline m-auto valid-info"></span></div></li>
												<li class="row"><div class="col-9">Selfie</div><div class="col-3"><span class="icon-checkmark-outline m-auto valid-info"></span></div></li>
												<li class="row"><div class="col-9">Numero telefonico</div><div class="col-3"><span class="icon-checkmark-outline m-auto valid-info"></span></div></li>
											</ul>
											<button class="btn btn-outline-info">Mas informacion</button>
										</div>
									</div>
								</div>
							</div>
						</aside>
						<section class="col-md-8 profile-con">
							<section class="row my-info-con">
								<div class="col-md-12">
									<div class="my-de-tti">
										<div class="my-tti-nm">
											<h1>Hola, soy <span id="profileName">Menendez</span></h1>
											<div class="regis-date">
												<span>Se registro en noviembre 15 de 2016.</span>
											</div>
										</div>
									</div>
									<div class="row lin-bot">
										<section class="col-md-12">
											<div class="my-des">
												<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
													tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
													quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
													consequat.
												</p>
												<p>
													Duis aute irure dolor in reprehenderit in voluptate velit esse
													cillum dolore eu fugiat nulla pariatur.
												</p>
											</div>
											<div class="parmeters">
												<div class="par"><span class="icon-star-full ic"> </span><span id="evaNo">28</span> Evaluaciones</div>
												<div class="par"><span class="icon-checkmark-outline ic"> </span>Verificado </div>
												<div class="par"><span class="icon-sun ic"> </span>Certificado de alta calidad </div>
											</div>
										</section>
									</div>
									<div class="row lin-bot">
										<section class="evaluations-commentaries col-md-12">
											<div class="row mb-4">
												<div class="col-6">
													<h4>Evaluaciones de Menendez</h4>
												</div>
												<div class="col-6 m-auto">
													<span class="icon-star-full apar"></span>
													<span class="icon-star-full apar"></span>
													<span class="icon-star-half apar"></span>
													<span class="icon-star-empty apar"></span>
													<span class="icon-star-empty apar"></span>
												</div>
											</div>
											<div class="row commentaries-con">
												<div class="col-md-12">
													<div class="row comentary lin-top">
														<div class="col-md-12">
															<div class="autor-com-inf">
																<div class="autor-com-img">
																	<a href=""><img src="../imgs/user-post2.jpg"></a>
																</div>
																<div class="autor-com-rel">
																	<a href="">Mariana</a>
																</div>
															</div>
															<div class="comentary-content mt-2">
																<p>
																	Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
																	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
																	quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
																	consequat.
																</p>
															</div>
														</div>
													</div>
													<div class="row comentary lin-top">
														<div class="col-md-12">
															<div class="autor-com-inf">
																<div class="autor-com-img">
																	<a href=""><img src="../imgs/tom.jpg"></a>
																</div>
																<div class="autor-com-rel">
																	<a href="">Tom</a>
																</div>
															</div>
															<div class="comentary-content mt-2">
																<p>
																	Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
																	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
																	quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
																	consequat.
																</p>
															</div>
														</div>
													</div>
													<div class="row comentary lin-top">
														<div class="col-md-12">
															<div class="autor-com-inf">
																<div class="autor-com-img">
																	<a href=""><img src="../imgs/user2.jpg"></a>
																</div>
																<div class="autor-com-rel">
																	<a href="">Juan</a>
																</div>
															</div>
															<div class="comentary-content mt-2">
																<p>
																	Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
																	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
																	quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
																	consequat.
																</p>
															</div>
														</div>
													</div>
												</div>
											</div>
										</section>
									</div>
								</div>
							</section>
						</section>
					</div>
				</div>
			</div>
		</div>
		<script src="../js/jquery.js"></script>
		<script src="../js/bootstrap.bundle.min.js"></script>
	</body>
</html>