<div class="container">
    <h1 class="text-center">Servicios</h1>
    <div class="row">
        <div class="col-md-12">
            <div class="overview">
                <div class="list-orders-card">
                    <div class="table-margin">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Gig</th>
                                    <th>Title</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each gigs}}
                                <tr>
                                    <td><img class="order-image-my-gig" src={{picture}} alt="..."></td>
                                    <td>{{title}}</td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>